/* @mixin respond($breakpoint) {
    @if $breakpoint <= $tab-land {
      // 1rem AND 1em in media query definition are always equal to default browser font-size (-> 16px)
      // recommendation: em is best unit for media query after some experiences;
      // max-width is calculated based on passed-in breakpoint and default browser font-size (-> 16px)
      @media (max-width: calc(calc($breakpoint / 16px) * 1em)) {
        // @content contains all childs, so media query mixin acts like wrapper
        @content;
      }
    } @else {
      // for big desktops, min-width is needed
      @media (min-width: calc(calc($breakpoint / 16px) * 1em)) {
        @content;
      }
    }
  } */
:root {
  --color-1: #ffc14d;
  --color-1-highLight: #ffae17;
  --color-1-lowSaturation: #bf9039;
  --color-1-medium: #e6ad45;
  --color-1-darkest: #403013;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-white: #fff;
  --color-black: #000;
  --shadow-dark: 0 2rem 6rem (var(--color-black), 0.3);
  --bg_color-lowTransparency-0: rgba(255, 193, 77, 0.1);
  --bg_color-lowTransparency-1: rgba(255, 193, 77, 0.4);
  --padding: 4rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--color-white);
  color: var(--color-1-medium);
}

::selection {
  background-color: var(--color-white);
  color: var(--color-1-medium);
}

html {
  font-size: 62.5%;
  color: var(--color-1-darkest);
}

@media only screen and (min-width: 56.25em) {
  html {
    font-size: 81.25%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 100%;
  }
}

body {
  font-size: 1.6rem;
}

@media only screen and (min-width: 56.25em) {
  body {
    font-size: 1.23rem;
  }
}

@media only screen and (min-width: 112.5em) {
  body {
    font-size: 1rem;
  }
}

h6 {
  font-size: 1.6rem;
}

h5 {
  font-size: 3.2rem;
}

h4 {
  font-size: 4.8rem;
}

h3 {
  font-size: 6.4rem;
}

h2 {
  font-size: 8rem;
}

h1 {
  font-size: 9.6rem;
}

p {
  font-size: 2.5rem;
}

button {
  width: 30%;
  font-size: 2rem;
  padding: 1rem 4rem;
  font-weight: 600;
  border-radius: 1.2rem;
  background-color: var(--color-1-highLight);
  color: var(--color-white);
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  white-space: nowrap;
  min-width: 200px;
}

button:hover {
  background-color: var(--color-1);
  color: var(--color-black);
  cursor: pointer;
}

button:active {
  background-color: var(--color-1-darkest);
  color: var(--color-white);
  border: var(--color-1);
}

.icon {
  fill: currentColor;
}

.icon__circle-down {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
}

.icon__social {
  width: 4rem;
  height: 3rem;
}

.navi__logo {
  position: fixed;
  right: 7rem;
  top: 1rem;
  height: 8rem;
}

.navi__checkbox {
  display: none;
}

.navi__button {
  left: 32px;
  top: 16px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  background-color: var(--color-white);
  z-index: 20;
  -webkit-box-shadow: 0 1.2rem 3.2rem rgba(var(--color-black), 0.1);
          box-shadow: 0 1.2rem 3.2rem rgba(var(--color-black), 0.1);
  text-align: center;
}

.navi__bg {
  left: 32px;
  top: 16px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  background-image: radial-gradient(var(--color-1), var(--color-1-medium));
  z-index: 10;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  opacity: 0.95;
}

.navi__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -30%;
  z-index: 15;
  opacity: 0;
  width: 30%;
  -webkit-transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  overflow: hidden;
}

.navi__checkbox:checked ~ .navi__bg {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navi__checkbox:checked ~ .navi__nav {
  opacity: 1;
  width: 100%;
  display: block;
  left: 0;
}

.navi__ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navi__li {
  padding: 1.2rem;
}

.navi__a:link, .navi__a:visited {
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-white) 50%);
  background-size: 250%;
  color: var(--color-white);
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navi__a:hover, .navi__a:active {
  cursor: pointer;
  background-position: 100%;
  color: var(--color-1);
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navi__menuIcon {
  position: relative;
  margin-top: 30px;
}

.navi__menuIcon, .navi__menuIcon::before, .navi__menuIcon::after {
  width: 40px;
  height: 3px;
  background-color: var(--color-1-darkest);
  display: inline-block;
}

.navi__menuIcon::before, .navi__menuIcon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navi__menuIcon::before {
  top: -8px;
}

.navi__menuIcon::after {
  top: 8px;
}

.navi__button:hover .navi__menuIcon::before {
  top: -12px;
}

.navi__button:hover .navi__menuIcon::after {
  top: 12px;
}

.navi__checkbox:checked + .navi__button .navi__menuIcon {
  background-color: transparent;
}

.navi__checkbox:checked + .navi__button .navi__menuIcon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navi__checkbox:checked + .navi__button .navi__menuIcon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.footer {
  background-color: var(--color-1-lowSaturation);
  height: 15vh;
}

.footer__flex {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.footer__flex_left {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
}

.footer__flex_left_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.footer__flex_logo {
  height: 7rem;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.footer__flex_right {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

.header {
  background-image: url(/images/bread_banner.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-1-darkest);
  height: 100vh;
  color: var(--color-white);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

.header__container_top {
  height: 5vh;
}

.header__container_logo {
  width: 100%;
  max-width: 20rem;
}

.header__container_h1 {
  gap: 1rem;
}

.section__news {
  background-color: var(--bg_color-lowTransparency-0);
  width: 100%;
  padding: var(--padding) 0;
}

.section__news_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  height: 100%;
  background-color: var(--bg_color-lowTransparency-1);
  padding: calc(var(--padding) - 0.5rem) 0;
}

.section__news_title {
  font-size: 4.5rem;
  font-weight: 600;
  min-height: 0;
}

.section__news img {
  height: 25rem;
  width: 25rem;
  min-height: 0;
}

.section__news__gallery {
  background-color: var(--color-white);
  height: 800px;
}

.click_scroll {
  width: 16rem;
  max-width: 100%;
}

.click_scroll:hover {
  cursor: pointer;
}

.click_scroll_ToGallery:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */