/* @mixin respond($breakpoint) {
    @if $breakpoint <= $tab-land {
      // 1rem AND 1em in media query definition are always equal to default browser font-size (-> 16px)
      // recommendation: em is best unit for media query after some experiences;
      // max-width is calculated based on passed-in breakpoint and default browser font-size (-> 16px)
      @media (max-width: calc(calc($breakpoint / 16px) * 1em)) {
        // @content contains all childs, so media query mixin acts like wrapper
        @content;
      }
    } @else {
      // for big desktops, min-width is needed
      @media (min-width: calc(calc($breakpoint / 16px) * 1em)) {
        @content;
      }
    }
  } */
:root {
  --color-1: #ffc14d;
  --color-1-highLight: #ffae17;
  --color-1-lowSaturation: #bf9039;
  --color-1-medium: #e6ad45;
  --color-1-darkest: #403013;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-white: #fff;
  --color-black: #000;
  --shadow-dark: 0 2rem 6rem (var(--color-black), 0.3);
  --bg_color-lowTransparency-0: rgba(255, 193, 77, 0.1);
  --bg_color-lowTransparency-1: rgba(255, 193, 77, 0.4);
  --bg_color-lowTransparency-2: rgba(255, 193, 77, 0.7);
  --padding: 4rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-moz-selection {
  background-color: var(--color-white);
  color: var(--color-1-medium);
}

::selection {
  background-color: var(--color-white);
  color: var(--color-1-medium);
}

html {
  font-size: 62.5%;
  color: var(--color-1-darkest);
  scroll-behavior: smooth;
}

@media only screen and (min-width: 56.25em) {
  html {
    font-size: 81.25%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 100%;
  }
}

body {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
}

@media only screen and (min-width: 56.25em) {
  body {
    font-size: 1.23rem;
  }
}

@media only screen and (min-width: 112.5em) {
  body {
    font-size: 1rem;
  }
}

h6 {
  font-size: 1.6rem;
}

h5 {
  font-size: 3.2rem;
}

h4 {
  font-size: 4.8rem;
}

h3 {
  font-size: 6.4rem;
}

h2 {
  font-size: 8rem;
}

h1 {
  font-size: 9.6rem;
}

p {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: currentColor;
}

svg {
  fill: currentColor;
}

li {
  list-style: none;
}

.body__company {
  background-color: var(--bg_color-lowTransparency-0);
}

.body__company header,
.body__company section {
  height: "";
  max-height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.section {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.section-hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

.lazy-img {
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

button {
  width: 30%;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 1.2rem;
  background-color: var(--color-1-highLight);
  color: var(--color-white);
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  white-space: nowrap;
  padding: 1rem 4rem;
  min-width: 200px;
}

button:hover {
  background-color: var(--color-1);
  color: var(--color-black);
  cursor: pointer;
}

button:active {
  background-color: var(--color-1-darkest);
  color: var(--color-white);
  border: var(--color-1);
}

.button__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
  margin: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1rem 2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.button__tab svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.button__tab-active {
  -webkit-transform: translateY(-66%);
          transform: translateY(-66%);
}

.icon {
  fill: currentColor;
  width: 3rem;
  height: 4rem;
}

.icon__circle-down {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
}

.icon__socialmedia {
  width: 4rem;
  height: 3rem;
}

.navi__logo {
  position: fixed;
  right: 7rem;
  top: 1rem;
  height: 8rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navi__checkbox {
  display: none;
}

.navi__button {
  left: 32px;
  top: 16px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  z-index: 20;
  background-color: var(--color-white);
  -webkit-box-shadow: 0 0 1rem var(--color-1-lowSaturation);
          box-shadow: 0 0 1rem var(--color-1-lowSaturation);
}

.navi__bg {
  left: 32px;
  top: 16px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  background-image: radial-gradient(var(--color-1), var(--color-1-medium));
  z-index: 10;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  opacity: 0.95;
}

.navi__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -30%;
  z-index: 15;
  opacity: 0;
  width: 30%;
  -webkit-transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  overflow: hidden;
}

.navi__checkbox:checked ~ .navi__bg {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navi__checkbox:checked ~ .navi__nav {
  opacity: 1;
  width: 100%;
  display: block;
  left: 0;
}

.navi__ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navi__li {
  padding: 1.2rem;
}

.navi__a:link, .navi__a:visited {
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-white) 50%);
  background-size: 250%;
  color: var(--color-white);
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navi__a:hover, .navi__a:active {
  cursor: pointer;
  background-position: 100%;
  color: var(--color-1);
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navi__menuIcon {
  position: relative;
  margin-top: 30px;
}

.navi__menuIcon, .navi__menuIcon::before, .navi__menuIcon::after {
  width: 40px;
  height: 3px;
  background-color: var(--color-1-darkest);
  display: inline-block;
}

.navi__menuIcon::before, .navi__menuIcon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navi__menuIcon::before {
  top: -8px;
}

.navi__menuIcon::after {
  top: 8px;
}

.navi__button:hover .navi__menuIcon::before {
  top: -12px;
}

.navi__button:hover .navi__menuIcon::after {
  top: 12px;
}

.navi__checkbox:checked + .navi__button .navi__menuIcon {
  background-color: transparent;
}

.navi__checkbox:checked + .navi__button .navi__menuIcon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navi__checkbox:checked + .navi__button .navi__menuIcon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.footer {
  background-color: var(--color-1-lowSaturation);
  height: 15vh;
}

.footer__flex {
  height: 100%;
  max-height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.footer__flex_left {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
}

.footer__flex_left_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.footer__flex_logo {
  height: 7rem;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.footer__flex_right {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

.header {
  height: 100vh;
  color: var(--color-1-darkest);
}

.header__bg {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  min-width: 800px;
  left: 0;
  opacity: 0.5;
  background-color: var(--bg_color-lowTransparency-0);
  -webkit-filter: saturate(0.8), brightness(-1), opacity(0.2);
          filter: saturate(0.8), brightness(-1), opacity(0.2);
}

.header__bg-shops {
  height: 90vh;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__container_top {
  height: 10vh;
  width: 100%;
}

.header__container_logo {
  width: 100%;
  max-width: 20rem;
}

.header__container_h1 {
  gap: 1rem;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  80% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  80% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.carousel {
  position: relative;
  margin: 0 auto;
  width: 25rem;
  height: 25rem;
  /* IN THE END */
}

@media only screen and (min-width: 37.5em) {
  .carousel {
    width: 45rem;
    height: 45rem;
  }
}

.carousel_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 3% 3%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  /* THIS creates the animation! */
}

@media only screen and (min-width: 37.5em) {
  .carousel_slide {
    padding: 5% 5%;
  }
}

.carousel_slide img {
  width: 70%;
  height: 70%;
}

@media only screen and (min-width: 37.5em) {
  .carousel_slide img {
    width: 80%;
    height: 80%;
  }
}

.slider__btn {
  padding: 0;
  border-radius: 50%;
  z-index: 1;
  font-family: inherit;
  background: var(--bg_color-lowTransparency-2);
  color: var(--color-1-darkest);
  min-width: 5rem;
  font-size: 3.25rem;
}

.dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: -2rem;
}

@media only screen and (min-width: 37.5em) {
  .dots {
    bottom: 0.5rem;
  }
}

.dots-dot {
  padding: 0;
  border-radius: 50%;
  opacity: 0.7;
  height: 2rem;
  width: 2rem;
  min-width: 0;
  margin-right: 1.75rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots-dot:last-child {
  margin: 0;
}

.dots-dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

.section__news {
  background-color: var(--bg_color-lowTransparency-0);
  width: 100%;
  padding: var(--padding) 0;
}

.section__news_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--bg_color-lowTransparency-1);
  padding: calc(var(--padding) - 0.5rem) 0;
  overflow: hidden;
}

.section__news_title {
  font-size: 4.5rem;
  font-weight: 600;
  min-height: 0;
}

.section__gallery {
  background-color: var(--color-white);
  height: 800px;
}

.click_scroll {
  width: 16rem;
  max-width: 100%;
}

.click_scroll_toNews:hover {
  cursor: pointer;
}

.click_scroll_toGallery:hover {
  cursor: pointer;
}

.click_scroll:active {
  color: blue;
}

.company__header {
  padding: 3rem;
}

.company__grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

@media only screen and (min-width: 37.5em) {
  .company__grid {
    display: -ms-grid;
    display: grid;
    text-align: start;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
}

.section__tab {
  background-color: var(--color-white);
}

.section_form {
  height: "";
  max-height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: 1000px;
  background-color: var(--color-1-darkest);
  padding: 3rem;
  color: var(--color-1-highLight);
  height: inherit;
}

/* OPERATIONS */
.tab__button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tab__content {
  display: none;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.tab__content__container {
  text-align: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem 2rem;
}

.tab__content-active {
  max-width: 100%;
  max-height: 100%;
  display: contents;
}

.tab__content__left {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  font-weight: bolder;
}

@media only screen and (min-width: 37.5em) {
  .tab__content__left {
    padding: 1.5rem;
  }
}

.tab__content__right {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  padding-bottom: 4rem;
}

@media only screen and (min-width: 37.5em) {
  .tab__content__right {
    padding: 1.5rem;
  }
}

@media only screen and (min-width: 37.5em) {
  .tab__content__right {
    padding-bottom: 1.5rem;
  }
}

.tab__content img {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  width: 300px;
}

@media only screen and (min-width: 37.5em) {
  .tab__content img {
    padding: 1.5rem;
  }
}

.tab__content-top {
  text-align: center;
  padding-bottom: 2rem;
}

form {
  width: 100%;
  padding: 5rem 10rem;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px #ccc;
          box-shadow: 0 2px 5px #ccc;
}

input {
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: middle;
}

textarea {
  width: 100%;
  font-size: 2rem;
}

input:hover,
textarea:hover {
  outline: none;
  border: 1px solid var(--color-1-highLight);
}

.question {
  padding: 3rem 0 1rem;
  color: var(--color-1-darkest);
}

.question-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.question-answer label {
  display: block;
  padding: 0 2rem 1rem 0;
  font-size: 2.5rem;
}

.question-answer input {
  width: auto;
}

.form__table .display__phone {
  font-size: 2.5rem;
}

@media only screen and (min-width: 37.5em) {
  .form__table .display__phone {
    display: none;
  }
}

.form__table .display__phone select {
  padding: 7px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: transparent;
  margin: 1rem 0 3rem;
}

.form__table .display__tablet-desktop {
  display: none;
}

@media only screen and (min-width: 37.5em) {
  .form__table .display__tablet-desktop {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

.form__table .display__tablet-desktop .first-col {
  text-align: left;
}

.form__table .display__tablet-desktop div {
  padding: 1rem 1rem;
  border-bottom: 1px solid #ccc;
  font-size: 2rem;
  font-weight: 400;
}

.form__table .display__tablet-desktop div input {
  text-align: center;
}

.btn-block {
  margin-top: 20px;
}

.filter {
  height: "";
  max-height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 10vh 0;
  overflow: hidden;
}

.filter-1top {
  color: var(--color-1);
  background-color: var(--color-1-darkest);
  padding: 2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.filter-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-white);
  overflow: scroll;
  height: 55vh;
}

@media only screen and (min-width: 37.5em) {
  .filter-bottom {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    overflow: visible;
    height: 100%;
  }
}

.filter__button {
  cursor: pointer;
  padding: 2rem;
  font-size: 3rem;
}

@media only screen and (min-width: 37.5em) {
  .filter__button {
    padding: 3rem;
  }
}

.filter__button:hover {
  background: var(--bg_color-lowTransparency-0);
}

.filter__button:active {
  background: var(--bg_color-lowTransparency-2);
}

.section__shops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: var(--color-white);
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: white;
  height: 400px;
  background-color: var(--color-1-darkest);
  text-align: left;
}

.shop-left {
  margin-left: 80vh;
}

@media only screen and (min-width: 56.25em) {
  .shop-left {
    margin-left: 50vh;
  }
}

.shop-right {
  margin-right: 80vh;
}

@media only screen and (min-width: 56.25em) {
  .shop-right {
    margin-left: 50vh;
  }
}

.shop__info {
  height: 100%;
  width: 250px;
}

@media only screen and (min-width: 37.5em) {
  .shop__info {
    width: 400px;
  }
}

.shop__info a {
  color: var(--color-1-highLight);
}

.shop__info a:hover {
  color: var(--color-white);
}

.shop__info a:active {
  color: var(--color-1-lowSaturation);
}

.shop__info p {
  padding: 2rem;
}

.shop__image {
  height: 100%;
  min-width: 800px;
}

.shop__image img {
  height: 100%;
  width: 100%;
  min-width: 500px;
}
/*# sourceMappingURL=main.css.map */