/* @mixin respond($breakpoint) {
    @if $breakpoint <= $tab-land {
      // 1rem AND 1em in media query definition are always equal to default browser font-size (-> 16px)
      // recommendation: em is best unit for media query after some experiences;
      // max-width is calculated based on passed-in breakpoint and default browser font-size (-> 16px)
      @media (max-width: calc(calc($breakpoint / 16px) * 1em)) {
        // @content contains all childs, so media query mixin acts like wrapper
        @content;
      }
    } @else {
      // for big desktops, min-width is needed
      @media (min-width: calc(calc($breakpoint / 16px) * 1em)) {
        @content;
      }
    }
  } */
:root {
  --color-1: #ffc14d;
  --color-1-highLight: #ffae17;
  --color-1-lowSaturation: #bf9039;
  --color-1-medium: #e6ad45;
  --color-1-darkest: #403013;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-white: #fff;
  --color-black: #000;
  --shadow-dark: 0 2rem 6rem (var(--color-black), 0.3);
  --bg_color-lowTransparency-0: rgba(255, 193, 77, 0.1);
  --bg_color-lowTransparency-1: rgba(255, 193, 77, 0.4);
  --bg_color-lowTransparency-2: rgba(255, 193, 77, 0.7);
  --padding: 4rem;
  --p_font-size: 1.6rem;
  --border-radius: 20px;
  --animation-all: all 0.4s;
  --nav-size: 100px;
  --card-height: 480px;
  --card-width: 300px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-moz-selection {
  background-color: var(--color-white);
  color: var(--color-1-medium);
}

::selection {
  background-color: var(--color-white);
  color: var(--color-1-medium);
}

*:hover {
  -webkit-transition: var(--animation-all);
  transition: var(--animation-all);
}

html {
  color: var(--color-1-darkest);
  scroll-behavior: smooth;
  font-family: 'Nunito', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

html h6 {
  font-size: 2.2rem;
  font-weight: 500;
}

html h5 {
  font-size: 3.2rem;
  font-weight: 600;
}

html h4 {
  font-size: 4.2rem;
  font-weight: 700;
}

html h3 {
  font-size: 5.2rem;
  font-weight: 800;
}

html h2 {
  font-size: 6.2rem;
  font-weight: 900;
}

html h1 {
  font-size: 7.2rem;
  font-weight: 1000;
}

html h6 {
  font-weight: 600;
}

@media only screen and (min-width: 56.25em) {
  html {
    font-size: 81.25%;
  }
  html h6 {
    font-size: 2rem;
  }
  html h5 {
    font-size: 3rem;
  }
  html h4 {
    font-size: 4rem;
  }
  html h3 {
    font-size: 5rem;
  }
  html h2 {
    font-size: 6rem;
  }
  html h1 {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 100%;
  }
}

body {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--p_font-size);
}

body p {
  font-size: calc(var(--p_font-size) * 1.5);
  font-weight: 600;
}

@media only screen and (min-width: 56.25em) {
  body {
    font-size: 1.23rem;
  }
  body p {
    font-size: calc(var(--p_font-size) * 2);
  }
}

@media only screen and (min-width: 112.5em) {
  body {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: currentColor;
}

a:hover {
  cursor: pointer;
  color: var(--color-1);
}

a:focus {
  cursor: pointer;
  color: var(--color-white);
}

a:active {
  cursor: pointer;
  color: var(--color-1-lowSaturation);
}

.a_color-1:link, .a_color-1:visited {
  color: var(--color-1-highLight);
}

.a_color-1:hover {
  color: var(--color-white);
}

svg {
  fill: currentColor;
}

li {
  list-style: none;
}

input[type='radio'],
input[type='checkbox'] {
  -webkit-transform: scale(2);
  transform: scale(2);
  margin-right: 0.5em;
}

.body__company {
  background-color: var(--bg_color-lowTransparency-0);
}

.body__company header,
.body__company section {
  height: "";
  max-height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 112.5em) {
  .body__company header,
  .body__company section {
    width: 70vw;
  }
}

.section {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.section-hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

.lazy-img {
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.click_scroll {
  width: 100%;
  padding: 3rem 0 0;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 56.25em) {
  .click_scroll {
    width: 30%;
  }
}

.click_scroll p {
  font-size: 5rem;
}

.click_scroll_breads {
  padding: 0;
}

.click_scroll_breads p {
  font-size: 3rem;
}

@media only screen and (min-width: 56.25em) {
  .click_scroll_breads {
    display: none;
  }
}

button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: var(--color-1-highLight);
  color: var(--color-white);
  border-radius: 1.2rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  max-width: 100%;
  padding: 1rem 2rem;
  white-space: nowrap;
  -webkit-transition: var(--animation-all);
  transition: var(--animation-all);
}

.button:hover {
  background-color: var(--color-1-darkest);
}

.button:active {
  color: var(--color-1-darkest);
  background-color: var(--color-1-highLight);
}

.button__more {
  width: 220px;
  padding: 1rem;
  font-size: 2.5rem;
}

@media only screen and (min-width: 37.5em) {
  .button__more {
    width: 100%;
  }
}

.button__breads {
  text-align: left;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  width: 280px;
}

@media only screen and (min-width: 56.25em) {
  .button__breads {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 112.5em) {
  .button__breads {
    font-size: 2rem;
  }
}

.button__breads-title {
  font-size: 3.5rem;
}

@media only screen and (min-width: 56.25em) {
  .button__breads-title {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 112.5em) {
  .button__breads-title {
    font-size: 2.5rem;
  }
}

.button__pagetitle {
  width: 100%;
  font-size: 4rem;
}

@media only screen and (min-width: 112.5em) {
  .button__pagetitle {
    font-size: 3rem;
  }
}

.button__tab {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  margin: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1rem 2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 3rem;
}

.button__tab svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.button__tab-active {
  -webkit-transform: translateY(-66%);
          transform: translateY(-66%);
}

.button__tab,
.button__breads {
  color: var(--color-1-darkest);
  background-color: var(--color-1);
}

.button__tab:hover,
.button__breads:hover {
  background-color: var(--color-1);
  color: var(--color-white);
}

.button__tab:active,
.button__breads:active {
  background-color: var(--color-1-darkest);
  color: var(--color-white);
  border: var(--color-1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button__tab-active,
.button__breads-active {
  background-color: var(--color-1-darkest);
  color: var(--color-white);
}

.icon {
  fill: currentColor;
  width: 3rem;
  height: 4rem;
}

.icon-circle-down {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

.icon-circle-down_breads {
  width: 3rem;
  margin: 0;
}

.icon-socialmedia {
  width: 4rem;
  height: 3rem;
}

.filter {
  height: "";
  max-height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  width: 1400px;
  max-width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media only screen and (min-width: 112.5em) {
  .filter {
    width: 70vw;
  }
}

@media only screen and (min-width: 56.25em) {
  .filter {
    padding: 2vh 0;
  }
}

.filter__title-container {
  margin: 0.5rem;
}

.filter__bread {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: var(--color-white);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  height: 65vh;
  overflow: scroll;
}

@media only screen and (min-width: 56.25em) {
  .filter__bread {
    height: 75vh;
  }
}

@media only screen and (min-width: 75em) {
  .filter__bread {
    overflow: hidden;
  }
}

@media only screen and (min-width: 112.5em) {
  .filter__bread {
    width: 1600px;
  }
}

.filter__bread h5 {
  padding: 1rem;
}

.filter__bread-top {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.filter__bread-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 75em) {
  .filter__bread-center {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.filter__bread-center .left,
.filter__bread-center .center,
.filter__bread-center .right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-top: 3px solid var(--color-1-darkest);
  margin-bottom: 1rem;
}

.filter__bread-bottom {
  border-top: 3px solid var(--color-1-darkest);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
}

.filter__bread-bottom #specials__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__bread-empty {
  height: 30vh;
  width: 100%;
  background-color: var(--color-1-darkest);
}

.filter-1top {
  color: var(--color-1);
  background-color: var(--color-1-darkest);
  padding: 1.5rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.filter-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-white);
  overflow: scroll;
  height: 55vh;
}

@media only screen and (min-width: 37.5em) {
  .filter-bottom {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    overflow: visible;
    height: 100%;
  }
}

.filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 2rem;
  font-size: 3rem;
  height: 100%;
}

@media only screen and (min-width: 37.5em) {
  .filter__button {
    padding: 2.5rem;
  }
}

.filter__button:hover {
  color: var(--color-1);
}

.filter__button:active {
  background: var(--bg_color-lowTransparency-2);
}

.filter__button-active {
  color: var(--color-1);
  background-color: var(--color-1-darkest);
  font-weight: 700;
}

.navi__logo {
  display: none;
  opacity: 0;
}

.navi__checkbox {
  display: none;
}

.navi__button {
  left: 32px;
  top: 16px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  z-index: 20;
  background-color: var(--color-white);
  -webkit-box-shadow: 0 0 1rem var(--color-1-lowSaturation);
          box-shadow: 0 0 1rem var(--color-1-lowSaturation);
}

@media only screen and (min-width: 56.25em) {
  .navi__button {
    height: var(--nav-size);
    width: var(--nav-size);
  }
}

.navi__bg {
  left: 32px;
  top: 16px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  background-image: radial-gradient(var(--color-1), var(--color-1-medium));
  z-index: 10;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  opacity: 0.95;
}

@media only screen and (min-width: 56.25em) {
  .navi__bg {
    height: var(--nav-size);
    width: var(--nav-size);
  }
}

.navi__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -30%;
  z-index: 15;
  opacity: 0;
  width: 30%;
  -webkit-transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  overflow: hidden;
}

.navi__checkbox:checked ~ .navi__bg {
  -webkit-transform: scale(100);
          transform: scale(100);
}

.navi__checkbox:checked ~ .navi__nav {
  opacity: 1;
  width: 100%;
  display: block;
  left: 0;
}

.navi__checkbox:checked ~ .navi__nav .navi__logo {
  display: block;
  position: fixed;
  right: 7rem;
  top: 1rem;
  height: 8rem;
  opacity: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navi__ul {
  position: absolute;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navi__li {
  padding: 1.2rem;
}

.navi__a:link, .navi__a:visited {
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-white) 50%);
  background-size: 250%;
  color: var(--color-white);
  display: inline-block;
  font-size: 4rem;
  font-weight: 500;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navi__a:hover, .navi__a:active {
  cursor: pointer;
  background-position: 100%;
  color: var(--color-1);
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navi__menuIcon {
  position: relative;
  margin-top: 30px;
}

.navi__menuIcon, .navi__menuIcon::before, .navi__menuIcon::after {
  width: 40px;
  height: 3px;
  background-color: var(--color-1-darkest);
  display: inline-block;
}

.navi__menuIcon::before, .navi__menuIcon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navi__menuIcon::before {
  top: -8px;
}

.navi__menuIcon::after {
  top: 8px;
}

@media only screen and (min-width: 56.25em) {
  .navi__menuIcon {
    margin-top: calc(var(--nav-size) / 2);
  }
  .navi__menuIcon, .navi__menuIcon::before, .navi__menuIcon::after {
    width: calc(var(--nav-size) - (var(--nav-size) / 3.5));
  }
  .navi__menuIcon::before {
    top: calc(var(--nav-size) / -5);
  }
  .navi__menuIcon::after {
    top: calc(var(--nav-size) / 5);
  }
}

.navi__button:hover .navi__menuIcon::before {
  top: -12px;
}

.navi__button:hover .navi__menuIcon::after {
  top: 12px;
}

.navi__checkbox:checked + .navi__button .navi__menuIcon {
  background-color: transparent;
}

.navi__checkbox:checked + .navi__button .navi__menuIcon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navi__checkbox:checked + .navi__button .navi__menuIcon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.footer {
  background-color: var(--color-1-lowSaturation);
  height: 100%;
}

.footer__flex {
  height: 100%;
  max-height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-align: center;
  padding: 2rem;
  gap: 20px;
}

@media only screen and (min-width: 112.5em) {
  .footer__flex {
    width: 70vw;
  }
}

.footer__flex_logo {
  height: 7rem;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

@media only screen and (min-width: 37.5em) {
  .footer__flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__flex_left, .footer__flex_right {
    padding: 0 5rem;
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
  }
  .footer__flex_left {
    text-align: right;
  }
  .footer__flex_left_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 1rem;
  }
  .footer__flex_right {
    text-align: left;
  }
}

.header {
  height: 100vh;
  background-color: var(--bg_color-lowTransparency-0);
}

.header-breads_shops {
  height: 70vh;
}

@media only screen and (min-width: 56.25em) {
  .header-breads_shops {
    height: 80vh;
  }
}

.header__company {
  padding: 3rem;
}

.header__bg {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  left: 0;
  opacity: 0.4;
}

.header__bg-breads_shops {
  height: 80vh;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100%;
  max-height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 112.5em) {
  .header__container {
    width: 70vw;
  }
}

.header__container_top {
  height: 10vh;
  width: 100%;
}

.header__container_logo {
  width: 100%;
  max-width: 20rem;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 30rem;
  min-width: 180px;
  max-width: 100%;
  height: 40rem;
  min-height: 100%;
  overflow: hidden;
}

.carousel_slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  /* THIS creates the animation! */
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.carousel_slide h5 {
  width: 100%;
  padding-top: 1rem;
}

.carousel_slide p {
  height: 7%;
}

.carousel_slide img {
  width: 90%;
  justify-self: flex-end;
}

@media only screen and (min-width: 56.25em) {
  .carousel {
    width: 50rem;
    height: 30rem;
  }
  .carousel_slide h5 {
    width: 80%;
  }
  .carousel_slide img {
    width: 50%;
    height: 80%;
  }
}

.slider__btn {
  padding: 0;
  border-radius: 50%;
  width: 80px;
  z-index: 1;
  font-family: inherit;
  font-size: 3.25rem;
  margin: 1rem 2rem;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1rem 3rem;
}

.dots-dot {
  padding: 0;
  border-radius: 50%;
  opacity: 0.7;
  height: 2rem;
  width: 2rem;
  min-width: 0;
  margin-right: 3rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots-dot:hover {
  cursor: pointer;
  background-color: var(--color-1);
}

.dots-dot:active {
  background-color: var(--color-1-darkest);
}

.dots-dot:last-child {
  margin: 0;
}

.dots-dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

.section__breads {
  height: 100%;
  max-height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 112.5em) {
  .section__breads {
    width: 70vw;
  }
}

.bread__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-white);
  height: var(--card-height);
  width: var(--card-width);
  background-color: var(--color-1-darkest);
  border-radius: 20px;
  padding: 0.5rem;
}

.bread__card:hover {
  cursor: pointer;
  color: var(--color-black);
  background-color: var(--bg_color-lowTransparency-2);
}

.bread__card:active {
  color: var(--color-black);
  background-color: var(--bg_color-lowTransparency-0);
}

.bread__card_name {
  height: 7%;
  margin: 0.5rem;
  font-size: 2.5rem;
  overflow: hidden;
}

.bread__card_img {
  height: calc(var(--card-height) * 0.5);
  width: calc(var(--card-height) * 0.5);
  margin: 1rem;
}

.bread__card_type {
  height: 30%;
  width: 90%;
  overflow: hidden;
}

.bread__card_type p {
  background-color: var(--color-1-medium);
  margin: 0.5rem 2rem;
  font-size: 2rem;
  font-weight: 600;
}

@media only screen and (min-width: 37.5em) {
  .bread__card {
    height: calc(var(--card-height) * 1.1);
    width: calc(var(--card-width) * 1.1);
  }
  .bread__card_img {
    height: calc(var(--card-height) * 0.55);
    width: calc(var(--card-height) * 0.55);
  }
  .bread__card_type {
    height: 30%;
  }
}

@media only screen and (min-width: 56.25em) {
  .bread__card {
    height: calc(var(--card-height) * 1.2);
    width: calc(var(--card-width) * 1.2);
  }
}

@media only screen and (min-width: 112.5em) {
  .bread__card {
    height: 640px;
    width: 420px;
  }
  .bread__card_name {
    height: 9%;
  }
  .bread__card_img {
    height: calc(var(--card-height) * 0.65);
    width: calc(var(--card-height) * 0.65);
  }
}

.section {
  padding: var(--padding) 0;
}

.section__news {
  background-color: var(--bg_color-lowTransparency-0);
  width: 100%;
}

.section__news_container {
  height: 100%;
  max-height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: var(--bg_color-lowTransparency-1);
  padding: calc(var(--padding) + 1rem) 2rem;
  overflow: hidden;
  justify-items: space-around;
  gap: 20px;
}

@media only screen and (min-width: 112.5em) {
  .section__news_container {
    width: 70vw;
  }
}

.section__gallery {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 2rem 1rem;
  gap: 1rem;
}

.section__gallery img {
  width: 40rem;
  min-width: 30rem;
  max-width: 100%;
  height: 100%;
}

.section__gallery .gallery_img_01, .section__gallery .gallery_img_02, .section__gallery .gallery_img_08, .section__gallery .gallery_img_09, .section__gallery .gallery_img_10, .section__gallery .gallery_img_11 {
  display: none;
}

@media only screen and (min-width: 37.5em) {
  .section__gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    background-color: var(--color-white);
    width: 100%;
    max-width: 1800px;
    margin: 0px auto;
  }
  .section__gallery img {
    min-width: 10rem;
    width: 100%;
    height: 100%;
  }
  .section__gallery .gallery_img_01, .section__gallery .gallery_img_02, .section__gallery .gallery_img_08, .section__gallery .gallery_img_09, .section__gallery .gallery_img_10, .section__gallery .gallery_img_11 {
    display: block;
  }
  .section__gallery .gallery_img_05 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / span 2;
  }
  .section__gallery .gallery_img_06 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .section__gallery .gallery-button {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.company__grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

@media only screen and (min-width: 37.5em) {
  .company__grid {
    display: -ms-grid;
    display: grid;
    text-align: start;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
}

.section__tab {
  background-color: var(--color-white);
}

.section_form {
  height: "";
  max-height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: 1000px;
  background-color: var(--color-1-darkest);
  padding: 3rem;
  height: inherit;
}

@media only screen and (min-width: 112.5em) {
  .section_form {
    width: 70vw;
  }
}

.section_form form {
  width: 100%;
  padding: 5rem 3rem;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px #ccc;
          box-shadow: 0 2px 5px #ccc;
}

@media only screen and (min-width: 37.5em) {
  .section_form form {
    padding: 5rem 10rem;
  }
}

.section_form input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: middle;
}

.section_form textarea {
  width: 100%;
  font-size: 2rem;
}

.section_form input:hover,
.section_form textarea:hover {
  outline: none;
  border: 1px solid var(--color-1-highLight);
}

/* OPERATIONS */
.tab__button__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.tab__button__container button {
  min-width: 300px;
  width: 30%;
}

@media only screen and (min-width: 37.5em) {
  .tab__button__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.tab__content {
  display: none;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.tab__content__container {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem 2rem;
}

@media only screen and (min-width: 37.5em) {
  .tab__content__container {
    text-align: start;
  }
}

.tab__content-active {
  max-width: 100%;
  max-height: 100%;
  display: contents;
}

.tab__content__left {
  font-size: 3rem;
  padding: 0.5rem 1.5rem;
  font-weight: bolder;
}

@media only screen and (min-width: 37.5em) {
  .tab__content__left {
    padding: 1.5rem;
    font-size: 2.5rem;
  }
}

.tab__content__right {
  font-size: 3rem;
  padding: 0.5rem 1.5rem;
  padding-bottom: 4rem;
}

@media only screen and (min-width: 37.5em) {
  .tab__content__right {
    padding: 1.5rem;
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 37.5em) {
  .tab__content__right {
    padding-bottom: 1.5rem;
  }
}

.tab__content img {
  font-size: 3rem;
  padding: 0.5rem 1.5rem;
  width: 300px;
}

@media only screen and (min-width: 37.5em) {
  .tab__content img {
    padding: 1.5rem;
    font-size: 2.5rem;
  }
}

.tab__content-top {
  text-align: center;
  padding-bottom: 2rem;
}

.question {
  padding: 3rem 0 1rem;
  font-weight: 600;
  font-size: 3.5rem;
}

.question-answer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media only screen and (min-width: 56.25em) {
  .question-answer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.question-answer label {
  display: block;
  padding: 0 2rem 1rem 0;
  font-size: 3rem;
  color: var(--color-1-highLight);
}

.question-answer input {
  width: auto;
}

.question-comment {
  font-size: 2rem;
}

.display__phone {
  font-size: 2.5rem;
}

@media only screen and (min-width: 37.5em) {
  .display__phone {
    display: none;
  }
}

.display__phone select {
  width: 20rem;
  font-size: 2rem;
  padding: 7px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: transparent;
  margin: 1rem 0 3rem;
}

.display__phone_options {
  font-size: 3rem;
}

.display__tablet-desktop {
  display: none;
}

@media only screen and (min-width: 37.5em) {
  .display__tablet-desktop {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

.display__tablet-desktop .first-col {
  text-align: left;
}

.display__tablet-desktop div {
  padding: 1rem 1rem;
  border-bottom: 1px solid #ccc;
  font-size: 2rem;
  font-weight: 400;
}

.display__tablet-desktop div input {
  text-align: center;
}

.btn-block {
  margin-top: 20px;
}

.section__shops {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100%;
  background-color: var(--color-white);
  padding: 4rem 0;
  gap: 50px;
  overflow: hidden;
}

.shop {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: white;
  height: 400px;
  background-color: var(--color-1-darkest);
}

@media only screen and (min-width: 56.25em) {
  .shop {
    height: 500px;
  }
}

.shop-left {
  text-align: left;
  margin-left: 90vh;
}

@media only screen and (min-width: 56.25em) {
  .shop-left {
    margin-left: 60vh;
  }
}

.shop-right {
  text-align: right;
  margin-right: 90vh;
}

@media only screen and (min-width: 56.25em) {
  .shop-right {
    margin-left: 20vh;
  }
}

.shop__info {
  height: 70%;
  min-width: 270px;
  max-width: 100%;
}

@media only screen and (min-width: 56.25em) {
  .shop__info {
    height: 100%;
    width: 450px;
  }
}

.shop__info-title {
  font-size: calc(var(--p_font-size) * 2.5);
}

.shop__info-body {
  font-size: calc(var(--p_font-size) * 2);
}

.shop__info p {
  padding: 2rem;
}

.shop__image {
  height: 100%;
  min-width: 800px;
}

.shop__image img {
  height: 100%;
  width: 100%;
  min-width: 500px;
}

@media only screen and (min-width: 56.25em) {
  .shop__image {
    min-width: 1000px;
  }
}
/*# sourceMappingURL=main.css.map */