.filter {
  @include inner_container($height-custom);
  width: 1400px;
  max-width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @include respond($tablet-desktop) {
    padding: 2vh 0;
  }

  // ------------------------------------------------------
  // -------  Bread Page
  // ------------------------------------------------------

  &__title-container {
    margin: 0.5rem;
  }

  &__bread {
    @include flex_column;
    background-color: var(--color-white);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    height: 65vh;
    overflow: scroll; // change
    @include respond($tablet-desktop) {
      height: 75vh;
    }
    @include respond($desktop) {
      overflow: hidden;
    }
    @include respond($desktop-big) {
      width: 1600px;
    }

    h5 {
      padding: 1rem;
    }
    &-top {
      padding: 0.5rem;
      margin-bottom: 1rem;
    }
    &-center {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap; // change

      @include respond($desktop) {
        flex-wrap: nowrap;
      }

      .left,
      .center,
      .right {
        @include flex_column;
        @include border-top;
        margin-bottom: 1rem;
      }
    }
    &-bottom {
      @include border-top;
      @include flex_column;
      margin-bottom: 1rem;
      width: 100%;
      padding: 0.5rem;
      #specials__container {
        @include flex_row;
      }
    }
    &-empty {
      // empty space to create more filter options
      height: 30vh;
      width: 100%;
      background-color: var(--color-1-darkest);
    }
  }

  // ------------------
  // ------- Shops Page
  // ------------------
  &-1top {
    color: var(--color-1);
    background-color: var(--color-1-darkest);
    padding: 1.5rem;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
  &-bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    background-color: var(--color-white);
    overflow: scroll;
    height: 55vh;
    @include respond($tablet-port) {
      grid-template-columns: repeat(3, 1fr);
      overflow: visible;
      height: 100%;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2rem;
    font-size: 3rem;
    height: 100%;
    @include respond($tablet-port) {
      padding: 2.5rem;
    }
    &:hover {
      color: var(--color-1);
    }
    &:active {
      background: var(--bg_color-lowTransparency-2);
    }
    &-active {
      color: var(--color-1);
      background-color: var(--color-1-darkest);
      font-weight: 700;
    }
  }
}
