.footer {
  background-color: var(--color-1-lowSaturation);
  height: 100%;
  &__flex {
    @include inner_container($height-100);
    @include flex_column;
    text-align: center;
    padding: 2rem;
    gap: 20px;
    &_logo {
      height: 7rem;
      flex: 20%;
    }

    @include respond($tablet-port) {
      @include flex_row;
      flex-wrap: nowrap;
      justify-content: space-between;
      &_left,
      &_right {
        padding: 0 5rem;
        flex: 40%;
      }
      &_left {
        text-align: right;
        &_icons {
          display: flex;
          justify-content: flex-end;
          gap: 1rem;
        }
      }

      &_right {
        text-align: left;
      }
    }
  }
}
