.header {
  height: 100vh;
  background-color: var(--bg_color-lowTransparency-0);

  &-breads_shops {
    height: 70vh;
    @include respond($tablet-desktop) {
      height: 80vh;
    }
  }
  &__company {
    padding: 3rem;
  }
  &__bg {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
    left: 0;
    opacity: 0.4;

    &-breads_shops {
      height: 80vh;
    }
  }

  // ------- HOME only
  &__container {
    @include flex_column;
    @include inner_container($height-100);
    justify-content: space-around;
    &_top {
      height: 10vh;
      width: 100%;
    }
    &_logo {
      width: 100%;
      max-width: 20rem;
    }
  }
}
