button {
  width: 30%;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 1.2rem;
  background-color: var(--color-1-highLight);
  color: var(--color-white);
  border: none;
  align-self: center;
  white-space: nowrap;
  padding: 1rem 4rem;
  min-width: 200px;
  &:hover {
    background-color: var(--color-1);
    color: var(--color-black);
    cursor: pointer;
  }
  &:active {
    background-color: var(--color-1-darkest);
    color: var(--color-white);
    border: var(--color-1);
  }
}

.button {
  // Company page
  &__tab {
    @include flex_row;
    margin-bottom: 1rem;
    margin: 1rem;
    transform: translateY(-50%);
    padding: 1rem 2rem;
    transition: 0.4s;
    svg {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }
    &-active {
      transform: translateY(-66%);
    }
  }
}
