:root {
  --color-1: #ffc14d; // rgb(255,193,77) hsl(39.1,100%,65.1%)
  --color-1-highLight: #ffae17;
  --color-1-lowSaturation: #bf9039;
  --color-1-medium: #e6ad45;
  --color-1-darkest: #403013;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --color-white: #fff;
  --color-black: #000;

  --shadow-dark: 0 2rem 6rem (var(--color-black), 0.3);
  --bg_color-lowTransparency-0: rgba(255, 193, 77, 0.1);
  --bg_color-lowTransparency-1: rgba(255, 193, 77, 0.4);
  --bg_color-lowTransparency-2: rgba(255, 193, 77, 0.7);
  --padding: 4rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: var(--color-white);
  color: var(--color-1-medium);
}

//setting general fontsize based on screens. Also responding to zooming in and out
html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px

  @include respond($tablet-desktop) {
    font-size: 81.25%; //1 rem = 13px; 13px/16px
  }
  @include respond($desktop-big) {
    font-size: 100%; //  1rem = 16px; 16px/16px
  }
  color: var(--color-1-darkest);
  scroll-behavior: smooth; // replaces JS coding and makes it more simple
}

//balancing the font size in case the user changes the base pixels from 16px to any other value
body {
  text-align: center;
  box-sizing: border-box;
  // I see your confusion.  Well, actually the *  universal selector targets all types of elements; it is not the root css selector.
  // When we set box-sizing to inherit on all types of elements, we are basically saying that we want the box-sizing to inherit whatever the parent's box-sizing is.
  // Since we set the box-sizing property to border-box on the <body>  element (which is one of the document's top-most nodes), the property is effectively passed on to all child / grandchild elements.

  font-size: 1.6rem; // 16/10
  @include respond($tablet-desktop) {
    font-size: 1.23rem; // 16/13
  }
  @include respond($desktop-big) {
    font-size: 1rem; // 16/16
  }
}

//setting font size for everything else
@for $i from 1 through 6 {
  h#{7 - $i} {
    font-size: $i * 1.6rem;
  }
}

p {
  font-size: 2.5rem;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: currentColor;
  }
}

svg {
  fill: currentColor;
}

li {
  list-style: none;
}

// Background and container for body elements except footer and nav
.body {
  &__company {
    background-color: var(--bg_color-lowTransparency-0);
    header,
    section {
      @include inner_container($height-custom);
    }
  }
}

.section {
  transition: transform 1s, opacity 1s;
  &-hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}

.lazy-img {
  filter: blur(50px);
}
