//setting general fontsize based on screens
html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px
  @include respond($tablet-desktop) {
    font-size: 81.25%; //1 rem = 13px; 13px/16px
  }
  @include respond($desktop-big) {
    font-size: 100%; //  1rem = 16px; 16px/16px
  }
  color: var(--color-1-darkest);
}

//balancing the font size in case the user changes the base pixels from 16px
body {
  font-size: 1.6rem; // 16/10
  @include respond($tablet-desktop) {
    font-size: 1.23rem; // 16/13
  }
  @include respond($desktop-big) {
    font-size: 1rem; // 16/16
  }
}

//setting font size for everything else
@for $i from 1 through 6 {
  h#{7 - $i} {
    font-size: $i * 1.6rem;
  }
}

p {
  font-size: 2.5rem;
}
