.company__grid {
  display: grid;
  column-gap: 2rem;
  @include respond($tablet-port) {
    display: grid;
    text-align: start;
    grid-template-columns: 1fr 3fr;
  }
}

// Company SECTIONS background, size, etc.
.section {
  &__tab {
    background-color: var(--color-white);
  }
  &_form {
    @include inner_container($height-custom);
    height: 1000px;
    background-color: var(--color-1-darkest);
    padding: 3rem;
    height: inherit;

    form {
      width: 100%;
      padding: 5rem 3rem;
      background: #fff;
      box-shadow: 0 2px 5px #ccc;
      @include respond($tablet-port) {
        padding: 5rem 10rem;
      }
    }
    input {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      vertical-align: middle;
    }

    textarea {
      width: 100%;
      font-size: 2rem;
    }

    input:hover,
    textarea:hover {
      outline: none;
      border: 1px solid var(--color-1-highLight);
    }
  }
}

/* OPERATIONS */
.tab {
  &__button__container {
    button {
      min-width: 300px;
      width: 30%;
    }
    @include flex_column;
    @include respond($tablet-port) {
      @include flex_row;
    }
  }
  //content container
  &__content {
    display: none;
    padding: 2.5rem 7rem 6.5rem 7rem;

    &__container {
      text-align: center;
      justify-content: center;
      padding: 0 2rem 2rem;
      @include respond($tablet-port) {
        text-align: start;
      }
    }

    &-active {
      max-width: 100%;
      max-height: 100%;
      display: contents;
    }
    &__left {
      @include tab__content-size-padding;
      font-weight: bolder;
    }
    &__right {
      @include tab__content-size-padding;
      // padding bottom for smaller screens
      padding-bottom: 4rem;
      @include respond($tablet-port) {
        padding-bottom: 1.5rem;
      }
    }
    img {
      @include tab__content-size-padding;
      width: 300px;
    }
    &-top {
      text-align: center;
      padding-bottom: 2rem;
    }
  }
}

.question {
  padding: 3rem 0 1rem;
  font-weight: 600;
  font-size: 3.5rem;
  &-answer {
    @include flex_column;
    @include respond($tablet-desktop) {
      @include flex_row;
    }
  }
  &-answer label {
    display: block;
    padding: 0 2rem 1rem 0;
    font-size: 3rem;
    color: var(--color-1-highLight);
  }
  &-answer input {
    width: auto;
  }
  &-comment {
    font-size: 2rem;
  }
}

.display {
  &__phone {
    font-size: 2.5rem;

    @include respond($tablet-port) {
      display: none;
    }
    select {
      width: 20rem;
      font-size: 2rem;
      padding: 7px 0;
      border-radius: 3px;
      border: 1px solid #ccc;
      background: transparent;
      margin: 1rem 0 3rem;
    }
    &_options {
      font-size: 3rem;
    }
  }
  &__tablet-desktop {
    display: none;
    @include respond($tablet-port) {
      width: 80%;
      display: grid;
      justify-content: center;
      margin: 0 auto;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    .first-col {
      text-align: left;
    }
    div {
      padding: 1rem 1rem;
      border-bottom: 1px solid #ccc;
      font-size: 2rem;
      font-weight: 400;
      input {
        text-align: center;
      }
    }
  }
}

.btn-block {
  margin-top: 20px;
}
