.section__shops {
  @include flex_column;
  height: 100%;
  background-color: var(--color-white);
  padding: 4rem 0;
}

.shop {
  @include flex_row;
  flex-wrap: nowrap;
  color: white;
  height: 400px;
  background-color: var(--color-1-darkest);
  text-align: left;

  &-left {
    margin-left: 80vh;
    @include respond($tablet-desktop) {
      margin-left: 50vh;
    }
  }
  &-right {
    margin-right: 80vh;
    @include respond($tablet-desktop) {
      margin-left: 50vh;
    }
  }

  &__info {
    height: 100%;
    width: 250px;
    @include respond($tablet-port) {
      width: 400px;
    }

    a {
      color: var(--color-1-highLight);
      &:hover {
        color: var(--color-white);
      }
      &:active {
        color: var(--color-1-lowSaturation);
      }
    }
    p {
      padding: 2rem;
    }
  }
  &__image {
    height: 100%;
    min-width: 800px;
    img {
      height: 100%;
      width: 100%;
      min-width: 500px;
    }
  }
}
